<div class="workout">
  <div class="workout__title">
    <h1>
      <img src="/img/workout.svg">
      <span *ngIf="workout$ | async as workout; else title;">
        {{ workout.name ? 'Edit' : 'Create' }} workout
      </span>
      <ng-template #title>
        Loading...
      </ng-template>
    </h1>
  </div>
  <div>
    <workout-form *ngIf="workout$ | async as workout; else loading;" [workout]="workout" (update)="updateWorkout($event)" (remove)="removeWorkout($event)"
      (create)="addWorkout($event)">
    </workout-form>
    <ng-template #loading>
      <div class="message">
        <img src="/img/loading.svg" alt=""> Fetching workouts...
      </div>
    </ng-template>
  </div>
</div>