<div class="meal">
    <div class="meal__title">
      <h1>
        <img src="/img/food.svg">
        <span *ngIf="meal$ | async as meal; else title;">
          {{ meal.name ? 'Edit' : 'Create' }} meal
        </span>
        <ng-template #title>
          Loading...
        </ng-template>
      </h1>
    </div>
    <div>
      <meal-form *ngIf="meal$ | async as meal; else loading;"
        [meal]="meal"
        (update)="updateMeal($event)"
        (remove)="removeMeal($event)"
        (create)="addMeal($event)">
      </meal-form>
      <ng-template #loading>
        <div class="message">
          <img src="/img/loading.svg" alt="">
          Fetching meals...
        </div>
      </ng-template>
    </div>
  </div>